* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Segoe UI", sans-serif;
}

nav {
  background: rgb(20, 20, 20);
  min-height: 50px;
  color: white !important;
  width: 100%;
}
  .scroll-hide.hidden-header {
    transform: translateY(-100%);
  }
.nav-tab {
  width: 100%;
  background: rgb(20, 20, 20);
  color: white !important;
  position: absolute;
  display: inline-flex;
}
.menu-container {
  width: 100%;
  border: 2px solid green;
}
.mymain {
  width: 80%;
  display: flex;
}
.main-content {
  position: absolute;
  top: 18%;
  left: 9%;
  width: 85%;
}
.banner1 h1 {
  font-weight: 700;
}
.banner-2 {
  background-color: #dcdadac4;
}
.border-left {
  border-left: 6px solid #938e8e;
}
.city {
  display: flex;
}
.banner1 {
  width: 90% !important;
}
.notice {
  background-color: #deebf7;
  border: dashed 1px #5f7baa;
}
.review {
  color: #333;
  line-height: 22px;
  font-weight: 400;
  cursor: default;
}






@media screen and (max-width: 768px) {
 
  nav {
    background: rgb(20, 20, 20);
    min-height: 60px;
    color: white !important;
    width: 100%;
  }
  .dropdown .dropdown-menu {
    display: block;
    opacity: 0;
    -webkit-transition: all 500ms ease-in;
    -moz-transition: all 500ms ease-in;
    -ms-transition: all 500ms ease-in;
    -o-transition: all 500ms ease-in;
    transition: all 500ms ease-in;
  }
  .banner1 {
    margin: 0 auto;
    width: 100% !important;
  }

  .main-content {
    position: absolute;
    top: 20%;
    left: 5%;
    width: 90%;
  }
  .city {
    display: none !important;
  }
  .search {
    display: none;
  }
}
