/* @font-face {
  font-family: 'Segoe UI';
  src: url('SegoeUI.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Segoe UI';
  src: url('SegoeUIItalic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Segoe UI';
  src: url('SegoeUIBold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Segoe UI';
  src: url('SegoeUIBoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
} */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 1200px;
  font-family: "Segoe UI",sans-serif;
  
  }

.sticky.is-sticky {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1000;
  width: 100%;
}
nav {
     background: rgb(20, 20, 20);
min-height: 80px;
color: white !important;
width: 100%;
}
.nav-tab{
width: 100%;
background: rgb(20, 20, 20);
color: white !important;
position: absolute;
display: inline-flex;
}
.menu-container{
  width: 100%;
  border-top: 1px solid gray;
}
.content{
  position: absolute;
  top: 20%;
  left: 5%;
}
.banner1 h1{
  font-weight: 700;
}
.banner-2{
background-color: #dcdadac4;
}
.border-left{
  border-left: 6px solid #938e8e;
}
.city{
display: flex;
}
.notice{
  background-color: #deebf7;
  border: dashed 1px #5f7baa;
}
@media screen and (max-width: 768px) {
  .content{
    position: absolute;
        top: 20%;
        left: 0%;
  }
  .city{
    display: none !important;
  }
  .search {
    display: none;
  }
}
